{%extends 'boiler.html'%}
{%load static%}
{%block title%}Home{%endblock%}
{%block body%}
<div class="container">
    <div id="path">
        <span>
            <p>Home > News Portal</p>
        </span>
    </div>
    <div id="sidebar">
        <span>
            <span>
                <p id="ts">A Portal that displays news based on various category E.g, Sports, Politics, Technology,
                    International News etc.</p>
            </span>
        </span>
    </div>
    <div id="img">
        <img
            src="{%static 'assets/img/news.svg'%}">
    </div>
</div>
{%endblock body%}
