{%extends 'boiler.html'%}
{%load static%}
{%block body%}
<div>
    <form action="/news/query" method="GET">
        <section class="search">
            <div class="searchbx">
                <input type="search" name="search" id="" placeholder="E.g. Technology" autocomplete="off">
            </div>
            <div class="btn">
                <span>
                    <input type="submit" value="Submit"
                        style="background-color: transparent;border: 0;font-size: 25px;color: white;height: 100%;width: 100%;">
                </span>
            </div>
        </section>
        <section class="selection">
            <select id="res" name="no">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>
            <input type="search" name="cat" placeholder="Category"
                style="margin-left: 20px;outline: none;border-radius: 15px;border: 0;padding-left: 20px;font-size: 20px;"
                autocomplete="off">
            <select id="lan">
                <option value="">English</option>
            </select>
        </section>
    </form>
</div>
<div id="truck" style="height: 800px;width: 100%;color: white;position: absolute;top: 390px;">
    <div class="con" style="margin: 50px;margin-top: 10px;">
        {% firstof data state %}
    </div>
</div>
{%endblock body%}